.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
    padding: 20px 40px;
    border: none;
    background-color: crimson;
    border-radius: 10px;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    animation-name: btn;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    animation-direction: alternate;
    
}
.btn:hover {
    /* transform: translate(40deg); */

}
@keyframes btn {
    0% {
        transform: translate(0);
    }
    25%  {
     transform: translate(400px, 0);
    }
    50% {
        transform: translate(400px, 400px);
    
    }
    75% {
        transform: translate(0, 400px);
    
    }
    100% {
        transform: translate(0, 0);
    
    }


    
}